body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f5;
}

fieldset {
    width: 400px;
    margin: 50px auto;
    background: #ffffff;
}

table {
    width: 100%;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 95%;
}

a {
    text-decoration: none;
}
